In [2]:
import pandas as pd 
from path import Path
import numpy as np

In [6]:
csvpath = Path('Robotics and AI ETFs - Sheet1.csv')
df = pd.read_csv(csvpath, index_col = 'Date', infer_datetime_format = True, parse_dates = True)

df.head()

,Close,Date.1,Close.1,Date.2,Close.2
Date,,,,,
2016-09-13 16:00:00,14.76,1/4/2016 16:00:00,23.93,1/4/2016 16:00:00,18.80
2016-09-16 16:00:00,14.70,1/5/2016 16:00:00,23.79,1/5/2016 16:00:00,18.88
2016-09-19 16:00:00,14.84,1/6/2016 16:00:00,23.22,1/6/2016 16:00:00,18.51
2016-09-20 16:00:00,14.97,1/7/2016 16:00:00,22.75,1/7/2016 16:00:00,18.19
2016-09-22 16:00:00,15.32,1/8/2016 16:00:00,22.40,1/8/2016 16:00:00,17.57

In [ ]:
df.columns = ['BOTZ', 'ROBO', 'ARKQ']